/* Estilos gerais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e3e3e3;
    width: 100%;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

.interface .itens-container img {
    padding: 0 4%;
    width: 160px;
    height: 260px;
}

h2.title {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #000000;
    margin-bottom: 100px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

h5.title span {
    color: #FFD700;
    display: block;
}


.menu-desktop{
    display: block;
}

header .btn-abri-menu {
    display: none;
}

/* ESTILO DO HEADER */

header {
    width: 100%;
    padding: 22px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 70px;
}

header.rolar {
    background-color: #3c423e;
    padding: 20px 0;
}

header.rolar .menu-desktop nav ul li a {
    color: #FFD700;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul a {
    text-decoration: none;
    color: #32CD32;
    display: inline-block;
    transition: .5s;
}

header .menu-desktop nav ul a:hover {
    transform: scale(1.05);
    color: blue;
}

header .btn-contato button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #00ff22;
    color: #32CD32;
    font-weight: 900;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover {
    transform: scale(1.05);
}


/* Menu Mobile */

.btn-abri-menu {
    display: block;
}

.btn-abri-menu i {
    color: #00ff08;
    font-size: 40px;
}

.menu-mobile {
    background-color: #000000;
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.hidden-menu {
    width: 70%;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #00ff08;
    font-size: 32px;
}

.menu-mobile nav ul li {
    list-style-type: none;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    padding: 20px 9%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #00ff08;
    color: #000;
}


/* Estilo do topo do site */

section.hero-site {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('../img/Portfolio-Desenvolvedor-Web.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #32CD32;
    padding: 20px;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 300;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
    color: #FFD700;
    font-weight: 500;
}

.hero-site .txt-hero p span {
    display: block;
    font-weight: 700;
}

.hero-site button {
    width: 140px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #000;
    color: #32CD32;
    cursor: pointer;
    transition: .5s;
}

.hero-site button:hover {
    transform: scale(1.05);
}

/* Estilo do portfolio */

section.portfolio {
    padding: 80px 0;
}

.portfolio .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.portfolio .itens-container .img-itens img {
    max-width: 480px;
    margin: 30px 90px 10px 90px;
}

.portfolio .itens-container .txt-itens h3 {
    padding: 10px 15px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
}

.portfolio .itens-container .txt-itens h3 span {
    font-weight: 200;
}

.portfolio .itens-container .txt-itens p {
    margin: 8px 90px 30px 90px;
}


/* Estilo botões de contatos */

section.contato-2{
    background-color: #999999;
    padding: 80px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.txt-contato, .icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato-2 .txt-contato h3{
    font-size: 2.5em;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 20px;
}

.contato-2 .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato-2 .icons-contato a {
    text-decoration: none;
}

.contato-2 .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 80px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contato-2 .icons-contato button i {
    font-size: 20px;
}

.contato-2 .icons-contato button:hover{
    background-color: #000;
    color: #ccc;
}

.input-single {
    position: relative;
    margin: 20px 0;
}

.input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 17px;
    color: #fff;
}

.message {
    height: 150px;
}

.btn {
    width: 100%;
    text-align: center;
}

form input[type=submit] {
    padding: 10px 40px;
    border: 0;
    border-radius: 12px;
    background-color: #00ff08;
    cursor: pointer;
}

/* Estilo da sessão sobre mim */

section.sobre {
    height: 600px;
    background-image: url(../img/fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.sobre>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.sobre-p p,
.sobre p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
}

.sobre button {
    width: 220px;
    height: 60px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fafffb;
    cursor: pointer;
    transition: .5s;
    font-weight: 500;
}

.sobre button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}

.sobre-2 {
    margin-top: 120px;
    background-color: #e3e3e3;
}

.sobre-2 .txt-sobre p {
    margin-top: 70px;
    margin-bottom: 120px;
}

.sobre-2 .img-sobre img {
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #000;
    margin-top: 12px;
    margin-bottom: 12px;
}


/* Estilo como funciona */

section.function {
    padding: 80px 0;
}

.txt-funciona,
.instrucoes {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.function .txt-funciona {
    position: sticky;
    top: 50%;
    padding-bottom: 35px;
}

.function .txt-funciona h3 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 300;
}

.function .txt-funciona h3 span {
    display: block;
    font-weight: 800;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid #000;
    padding: 20px;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span {
    font-weight: 300;
}

.instrucoes .instru-box p {
    line-height: 20px;
}


/* Especialidades  */

section.especialidades {
    padding: 40px 4%;
    background-color: #e3e3e3;
}

section .especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #000;
    padding: 40px;
    border-radius: 22px;
    margin-top: 45px;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #050404;
}

.especialidades .especialidades-box i {
    color: #000;
    font-size: 70px;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section .formulario {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 80px 4%;
}

.formulario .interface .title {
    margin-top: 120px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #00000032;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}

form input::placeholder,
form textarea::placeholder {
    color: #fff;
}

form textarea {
    resize: none;
    height: 150px;
}

form .btn-enviar {
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    color: #fff;
    background-color: #32CD32;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 90px;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
    margin-bottom: 20px;
}

footer .top-footer button:hover {
    background-color: #fff;
    color: #000;
}

footer .bottom-footer p {
    color: #fff;
    margin-top: 20px;
}

footer .bottom-footer {
    border-top: 2px solid #fff;
}
